@import 'variables.less';

.content h2 {
  color: red;
}

hr {
  width: @section-width;
  margin: auto;
  border: 2px solid @gray-border-color;
}

section {
  width: @section-width;
  margin: auto;
  & h2,
  p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
