@import 'variables.less';
li {
  display: inline-flex;
  width: @fill-width;
  margin-top: 10px;
  margin-bottom: 10px;
}

#detail {
  background-color: @background;
  width: @fill-width;
  height: auto;
  margin-left: 50px;
  & h3,
  p {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0;
  }
}
